header {
  text-align: center;
  position: sticky;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7FE2D7;
}

.logo picture img {
  position: relative;
  top: 10px;
}

