{% extends 'base.html' %}
{% block title %}Create{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<form action='#' method='POST'  enctype="multipart/form-data">
  {% csrf_token %}
  <input name='title' value='{{title}}' placeholder='Enter title here' required>
  <input name='description' value='{{description}}' placeholder="Enter description here">
  <input type="file" name="art" accept=".png, .jpg. jpeg, .gif" required class="class_art" multiple capture>
  {% if title and description %}
  <span>The images you added were corrupted or weren't images</span>
  {% endif %}
  <button type='submit' name='submit'>Create new post</button>
</form>
{% else %}
<p>You must be logged in to create a post. Login <a href='/login'>here</a></p>
{% endif %}
{% endblock %}