{% extends 'base.html' %}
{% block title %}Create{% endblock %}
{% block content %}
<form action='#' method='POST'  enctype="multipart/form-data">
  {% csrf_token %}
  <input name='title' placeholder='Enter title here' value={{title}} required>
  <input name='description' value={{description}} placeholder="Enter description here">
  <input type="file" name="art" accept="image/*" required class="class_art" multiple capture value={{art}}>
  <button type='submit' name='submit'>Create new post</button>
</form>

{% endblock %}