{% load static %}
<a class='logo' href='/'>
  <picture>
    <source srcset='{% static "images/logo.svg" %}' media='(min-width: 800px)'>
    <img src="{% static 'images/logo-small.svg' %}">
  </picture>
</a>
  
<nav>
  <input type='checkbox' id='nav-toggle' class='nav-toggle'>  
  <ul>
    <li><a class='nav-link' href='/'>Home</a></li>
    <li><a class='nav-link' href='/create'>Create</a></li>
    <li><a class='nav-link' href='/register'>Register</a></li>
    <li><a class='nav-link' href='/login'>Login</a></li>
    <li><a class='nav-link' href='/logout'>Logout</a></li>
  </ul>
  <label class="nav-toggle-label" for='nav-toggle'>
    <span></span>
</label>
</nav>