{% load static %}

<nav>
  <a class='logo' href='/'>
    <picture>
      <source srcset='{% static "images/logo-small.svg" %}' media='(max-width: 800px)'>
      <img src="{% static 'images/logo.svg' %}">
    </picture>
  </a>
  <ul>
    <li><a class='nav-link' href='/'>Home</a></li>
    <li><a class='nav-link' href='/create'>Create</a></li>
    <li><a class='nav-link' href='/register'>Register</a></li>
    <li><a class='nav-link' href='/login'>Login</a></li>
    <li><a class='nav-link' href='/logout'>Logout</a></li>
  </ul>
</nav>